extends layout

block header-css
    link(rel='stylesheet', href='/public/stylesheets/bootstrap3-wysihtml5.min.css')

block content
    include ../helpers/functions
    include partials/helpers_activities.jade

    .row
        .col-xs-12
            h2.head1 #{akt.name}
    
    form#formAddAktivi.form-horizontal(name="updateAkt", method="post", action="/update/#{akt._id}")
        +activityForm("edit", akt)


block footer-scripts
    script(src='/public/javascripts/bootstrap3-wysihtml5.all.min.js')
    script(src='/public/javascripts/bootstrap-wysihtml5.de-DE.js')
    script.
        $(document).ready(function(){
            initWysiwyg();
        });
