doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

		link(rel='stylesheet', href='/public/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/public/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/public/stylesheets/steam-web.css')
		link(rel='stylesheet', href='/public/javascripts/fancybox/jquery.fancybox.css')
		link(rel='stylesheet', href='/public/stylesheets/bootstrap-datetimepicker.min.css')
		block header-css
		link(rel='stylesheet', href='/public/stylesheets/style.css')

		link(href='//fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
		link(href='//fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,300italic,400italic,600italic', rel='stylesheet', type='text/css')
	
	body
		.header-top
			.wrap
				.logo
					a(href='index.html')
						img(src='/public/images/logo.png', alt='')
				.cssmenu
					nav#nav(role='navigation')
						a(href='#nav', title='Show navigation') Show navigation
						a(href='#', title='Hide navigation') Hide navigation
						ul.clearfix
							li(class= menu=='home'?'active':'')
								a(href='/') Home
							li(class= menu=='aktlist'?'active':'')
								a(href='/aktlist')
									span Aktivitäten
							.clear
				.buttons
					if isAuthenticated
						.login_btn
							a(href='/logout') Logout
						.get_btn
							a(href='/profile') Profile
					else
						.login_btn
							a.fancybox-inline(href='#login-form') Login / Signup
					.clear
				.clear
				if headerStyle !== 'small'
					h2.head
						| Finden Sie 
						span.m_1 die nächste Aktivität
						| ,
						br
						|  an der Sie 
						span.m_1 teilnehmen
						|  möchten.
			
		.main
			include ../helpers/functions.jade

			block content_full_width_top

			.wrap
				block content

			block content_full_width_bottom

		.footer
			.wrap
				.footer-menu
					ul
						li(class= menu=='home'?'active':'')
							a(href='/') Home
						li(class= menu=='aktlist'?'active':'')
							a(href='/aktlist') Aktivitäten
						li(class= menu=='profile'?'active':'')
							a(href='/profile') Profile
						.clear
				.footer-bottom
					.copy
						p
							| © 2016 Machmit
					.social
						ul
							li.facebook
								a(href='#')
									span
							li.twitter
								a(href='#')
									span
					.clear

		#login-form(style='display:none')
			.login-form
				h2
					i.fa.fa-sign-in
					|  Login
				
				if (message.length > 0)
					.alert.alert-danger #{message}

				form.form-inline(action='/login', method='post')
					.form-group.margin-right
						label.margin-right Email
						input.form-control(type='text', name='email', required)
					.form-group.margin-right
						label.margin-right Password
						input.form-control(type='password', name='password', required)
					.form-group
						button.btn.btn-warning(type='submit') Login
				
				hr
				
				p Need an account? 
					a.show-signup-form(href='') Sign up

			.signup-form.hide
				h2
					i.fa.fa-sign-in
					|  Signup
				
				if (message.length > 0)
					.alert.alert-danger #{message}

				form.form-inline(action='/signup', method='post')
					.form-group.margin-right
						label.margin-right Username
						input.form-control(type='text', name='username', required)
					.form-group.margin-right
						label.margin-right Email
						input.form-control(type='text', name='email', required)
					.form-group.margin-right
						label.margin-right Password
						input.form-control(type='password', name='password', required)
					.form-group
						button.btn.btn-warning(type='submit') Signup
				
				hr
				
				p Already have an account? 
					a.show-login-form(href='') Login

			hr

			.social-netwoks-login
				h2.margin-bottom Or login / sign up with
				a.btn.btn-primary.margin-right(href="/auth/facebook")
					i.fa.fa-facebook
					|  Facebook

				a.btn.btn-info.margin-right(href="/auth/twitter")
					i.fa.fa-twitter
					|  Twitter

				a.btn.btn-danger(href="/auth/google")
					i.fa.fa-google-plus
					|  Google



		script(src='/public/javascripts/jquery-2.2.2.min.js')
		script(src='/public/javascripts/bootstrap.min.js')
		script(src='/public/javascripts/fancybox/jquery.fancybox.pack.js')
		script(src='/public/javascripts/jquery-hover-effect.js')
		script(src='/public/javascripts/moment-with-locales.min.js')
		script(src="/public/javascripts/jquery.form.min.js")
		script(src="/public/javascripts/jquery.inputmask.bundle.js")
		script(src="/public/javascripts/bootstrap-datetimepicker.min.js")
		block footer-scripts
		script(src='/public/javascripts/scripts.js')

		
