extends layout

block header-css
    link(rel='stylesheet', href='/public/stylesheets/bootstrap3-wysihtml5.min.css')

block content
    include partials/helpers_activities.jade
   
    .row
        .col-xs-12
            h2.head1 Neue Aktivität
    
    form#formAddAktivi.form-horizontal(name="addaktivity", method="post", enctype="multipart/form-data", action="/addactivity")
        +activityForm("new")

block footer-scripts
    script(src='/public/javascripts/bootstrap3-wysihtml5.all.min.js')
    script(src='/public/javascripts/bootstrap-wysihtml5.de-DE.js')
    script.
        $(document).ready(function(){
            initWysiwyg();
        });