extends layout

block content_full_width_top
	include partials/helpers_activities.jade
	.content-box
		.wrap
			+searchForm(searchParams)

block content
	include partials/helpers_activities.jade

	section.activities#activities
		+events(aktlist, "search")
		.clear