body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.margin-top {
	margin-top: 20px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.margin-right {
	margin-right: 20px;
}

.text-left {
	text-align: left !important;
}

